In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
connection = mysql.connector.connect(host="localhost",
                                   user="root",
                                   passwd = "Sainath@85")
cursorObject = connection.cursor()

print(connection)

In [ ]:
Query0="""create database e_commerce"""

cursorObject.execute(Query0)

In [ ]:
connection = mysql.connector.connect(host="localhost",
                                   user="root",
                                   passwd = "Sainath@85",
                                   database="e_commerce")
cursorObject = connection.cursor()

print(connection)

## Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.

In [ ]:
create_tables ="""create table supplier(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10));

                  create table customer(CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID));
                  
                  create table category(CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID));
                  
                  create table product(PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID));
                  
                  create table product_details(PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
                  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID));
                  
                  create table orders(ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID));
                  
                  create table rating(RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID));"""

cursorObject.execute(create_tables)

## Q2. Insert the following data in the table created above

In [ ]:
insert_supplier = """insert into supplier(SUPP_ID,SUPP_NAME,SUPP_CITY,SUPP_PHONE)VALUES(%s,%s,%s,%s)"""

val=[(1,'Rajesh Retails','Delhi','1234567890'),
     (2,'Appario Ltd.','Mumbai','2589631447'),
     (3,'Knome products','Bangalore','9785462315'),
     (4,'Bansal Retails','Kochi','8975463285'),
     (5,'Mittal Ltd.','Lucknow','7898456532')]

cursorObject.executemany(insert_supplier,val)

connection.commit()

In [ ]:
insert_customer = """insert into customer(CUS_ID,CUS_NAME,CUS_PHONE,CUS_CITY,CUS_GENDER)values(%s,%s,%s,%s,%s)"""

val=[(1,'AAKASH',9999999999,'DELHI','M'),
     (2,'AMAN',9785463215,'NOIDA','M'),
     (3,'NEHA',9999999998,'MUMBAI','F'),
     (4,'MEGHA',9994562399,'KOLKATA','F'),
     (5,'PULKIT',7895999999,'LUCKNOW','M')]

cursorObject.executemany(insert_customer,val)

connection.commit()

In [ ]:
insert_category = """insert into category(CAT_ID,CAT_NAME)values(%s,%s)"""

val=[(1,'BOOKS'),
     (2,'GAMES'),
     (3,'GROCERIES'),
     (4,'ELECTRONICS'),
     (5,'CLOTHES')]

cursorObject.executemany(insert_category,val)

connection.commit()

In [ ]:
insert_product="""insert into product(PRO_ID,PRO_NAME,PRO_DESC,CAT_ID)values(%s,%s,%s,%s)"""

val=[(1,'GTA V','BCBSCIBJCDSND',2),
     (2,'TSHIRT','NUCSCUISIDNC',5),
     (3,'ROG LAPTOP','CNUSDICNUC',4),
     (4,'OATS','CIONSDCINSDI',3),
     (5,'HARRY PORTER','CISBDICJSCN',1)]

cursorObject.executemany(insert_product,val)

connection.commit()

In [ ]:
insert_product_details="""insert into product_details(PROD_ID,PRO_ID,SUPP_ID,PROD_PRICE)values(%s,%s,%s,%s)"""

val=[(1,1,2,1500),
     (2,3,5,30000),
     (3,5,1,3000),
     (4,2,3,2500),
     (5,4,1,1000)]

cursorObject.executemany(insert_product_details,val)

connection.commit()

In [ ]:
insert_orders="""insert into orders(ORD_ID,ORD_AMOUNT,ORD_DATE,CUS_ID,PROD_ID)VALUES(%s,%s,%s,%s,%s)"""

val=[(20,1500,'2021-10-12',3,5),
     (25,30500,'2021-09-16',5,2),
     (26,2000,'2021-10-05',1,1),
     (30,3500,'2021-08-16',4,3),
     (50,2000,'2021-10-06',2,1)]

cursorObject.executemany(insert_orders,val)

connection.commit()

In [ ]:
insert_rating="""insert into rating(RAT_ID,CUS_ID,SUPP_ID,RAT_RATSTARS)VALUES(%s,%s,%s,%s)"""

val=[(1,2,2,4),
     (2,3,4,3),
     (3,5,1,5),
     (4,1,3,2),
     (5,4,5,4)]

cursorObject.executemany(insert_rating,val)

connection.commit()

## Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [ ]:
Query3="""select customer.CUS_NAME,customer.CUS_GENDER,orders.ORD_AMOUNT from customer,orders where orders.ORD_AMOUNT > 3000"""

cursorObject.execute(Query3)

output=cursorObject.fetchall()

output_df=pd.DataFrame(output,columns=['CUS_NAME','CUS_GENDER','ORD_AMOUNT'])

output_df

## Q4)Display all the order along with product name ordered by a customer having Customer_Id=2

In [ ]:
Query4 = """select `orders`.*, product.pro_name from `orders`, product_details,product where `orders`.cus_id=2 and `orders`.prod_id=product_details.prod_id and product_details.pro_id=product.pro_id;"""

cursorObject.execute(Query4)

output=cursorObject.fetchall()

output_df=pd.DataFrame(output,columns=['ORD_ID','ORD_AMOUNT','ORD_DATE','CUS_ID','PROD_ID','PRO_NAME'])

output_df

## Q5) Display the Supplier details who can supply more than one product.

In [ ]:
Query5="""select supplier.* from supplier,product_details where supplier.SUPP_ID in (select product_details.SUPP_ID from product_details
group by product_details.SUPP_ID having count(product_details.SUPP_ID)>1) group by supplier.SUPP_ID"""

cursorObject.execute(Query5)

output=cursorObject.fetchall()

output_df=pd.DataFrame(output,columns=['SUPP_ID','SUPP_NAME','SUPP_CITY','SUPP_PHONE'])

output_df

## Q6) Find the category of the product whose order amount is minimum.

In [ ]:
Query6="""select category.* from `orders` inner join product_details on `orders`.PROD_ID=product_details.PROD_ID
inner join product on product.PRO_ID=product_details.PRO_ID
inner join category on category.CAT_ID=product.CAT_ID having min(`orders`.ORD_AMOUNT)"""

cursorObject.execute(Query6)

output=cursorObject.fetchall()

output_df=pd.DataFrame(output,columns=['CAT_ID','CAT_NAME'])

output_df

#this query is running in mysql , as per instructor i have ran ***set sql_mode="" ***,but still query is not running in the jupyter notebook please help to check on this

## Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [ ]:
Query7="""select product.PRO_ID,product.PRO_NAME from `orders` inner join product_details on product_details.PROD_ID=`orders`.PROD_ID
inner join product on product.PRO_ID=product_details.PRO_ID where `orders`.ORD_DATE >"2021-10-05";"""

cursorObject.execute(Query7)

output=cursorObject.fetchall()

output_df=pd.DataFrame(output,columns=['PRO_ID','PRO_NAME'])

output_df

## Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [ ]:
Query8="""select supplier.SUPP_ID,supplier.SUPP_NAME,customer.CUS_NAME,rating.RAT_RATSTARS from rating inner join supplier on rating.SUPP_ID=supplier.SUPP_ID
inner join customer on rating.CUS_ID=customer.CUS_ID order by rating.RAT_RATSTARS desc limit 3"""

cursorObject.execute(Query8)

output=cursorObject.fetchall()

output_df=pd.DataFrame(output,columns=['SUPP_ID','SUPP_NAME','CUS_NAME','RAT_RATSTARS'])

output_df

## Q9) Display customer name and gender whose names start or end with character 'A'.

In [ ]:
Query9 = """select customer.CUS_NAME, customer.CUS_GENDER from customer where customer.CUS_NAME like 'A%' or customer.CUS_NAME like '%A';"""

cursorObject.execute(Query9)

output=cursorObject.fetchall()

output_df = pd.DataFrame(output,columns=['CUS_NAME','CUS_GENDER'])

output_df

## Q10) Display the total order amount of the male customers.

In [ ]:
Query10="""select 	sum(orders.ORD_AMOUNT) as Amount from orders inner join customer on orders.CUS_ID=customer.CUS_ID where customer.CUS_GENDER='M';"""

cursorObject.execute(Query10)

output=cursorObject.fetchall()

print("Amount is :", output)

## Q11) Display all the Customers left outer join with  the orders

In [ ]:
Query11="""select * from customer left outer join orders on customer.CUS_ID=orders.CUS_ID;"""

cursorObject.execute(Query11)

output=cursorObject.fetchall()

output_df = pd.DataFrame(output,columns=['CUS_ID','CUS_NAME','CUS_PHONE','CUS_CITY','CUS_GENDER','ORD_ID','ORD_AMOUNT','ORD_DATE','CUS_ID','PROD_ID'])

output_df